<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>home page</title>
    </head>
    
        <body>
            <h1>{{pageTitle}}</h1>
            <h2>{{screamIt welcome }}</h2>
            {{> header}}
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam officiis ratione enim culpa modi perspiciatis, deleniti atque, iste blanditiis quis sit totam dicta molestiae quo quibusdam voluptates accusamus ad officia?</p>
            {{> footes}}
        </body>
</html>