<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    {{> header}}
    {{PageTitle}} 
    <h3>You can also find the list to al my projects here!!</h3>
    <h3>this html page is without any styling</h3>
    <footer>
        {{> footes}}
    </footer>
</body>
</html>